@model assignment_4.Models.Teacher
@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="navlink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Employeenumber = @Model.Employeenumber</p>
    <p>Hire Date = @Model.Hiredate</p>
    <p>Salary = @Model.Salary</p>
</div>